<robot name="test_robot">
	<link name="velodyne"/>
	<link name="base_link"/>
	<link name="imu"/>
	
	<joint name="joint1" type="fixed">
		<parent link="base_link"/>
		<child link="imu"/>
		<origin xyz="0.0 0.0 0.0415" rpy="0.0 0.0 -1.571 "/>
	</joint>
	<joint name="joint2" type="fixed">
		<parent link="base_link"/>
		<child link="velodyne"/>
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
	</joint>
</robot>
